[Unit]
Description=OpenPlex Server
After=network.target

[Service]
Type=simple
User=rfan
Group=rfan
WorkingDirectory=/home/rfan/media-server
EnvironmentFile=/home/rfan/media-server/.env
ExecStart=/home/rfan/.local/bin/uvicorn app.main:app --host ${HOST} --port ${PORT}
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
